/* Урок №4 - CSS псевдоэлементы: before и другие. */

/*
Сегодня наш разговор пойдет о псевдоэлементах! псевдоэлементы могут с помощью CSS обратиться
к содержимому, или к части содержимого объекта, а также добавить новые объекты! сейчас мы со
всем разберемся и научимся всему необходимому :) но нам для начала необходимо хоть как-то да
застилизовать наш HTML файл, а то он выглядит уж больно скучным! ну так чего медлить? приступаем!
*/

body {
	padding: 30px;
}

.text {
	font-size: 24px;
	line-height: 33px;
	margin: 0 0 30px 0;
}

.list li {
	font-size: 24px;
	margin: 0 0 20px 0;
}

/*
Синтаксис написания псевдоэлементов крайне схож с синтаксисом написания псевдоклассов, и это в общем-то
даже неудивительно - у них даже названия очень похожи, синтаксис что-ли будет отличаться? ага, щас :D
Ну на крайний случай вот вам: идет обращение к селектору класса, либо к селектору типа, затем ставится двое-
точие и только после него идет название псевдоэлемента. С приходом CSS3 стало возможно добавлять сразу двое-
точия вместо одного, что очень даже удобно, ведь таким образом мы сможем различать псевдоклассы и псевдоэле-
менты, если у нас в файле активно используются как первые (п-классы), так и вторые (п-элементы). Как-то так!

А теперь пора переходить непосредственно к псевдоэлементам! Встречайте - ::first-line
Псевдоэлемент first-line позволяет задать стили для первой строки текста. Интересно, не так ли? давайте
применим его к нашему параграфу с классом .text, там у нас как раз много текста и строк будет не мало:
*/

.text::first-line {
	color: green;
}

/*
Заходим в браузер и смотрим: наша первая строка в параграфе действительно изменилась! она стала.. больной!
Ой, в смысле... зеленой! сколько бы у нас не было строк в нашем параграфе, только первая строка будет такой,
ни вторая, ни третья, ни четвертая и даже пятая строка не станет зеленой - быть такого цвета суждено только
первой, и никому больше. Это легко проверить: откройте браузер и начните "сжимать" окошко, создав таким об-
разом сразу много строк - что нибудь изменилось? вы скажете "нет", и вы будете правы! лишь первая строка ос-
талась зеленой, другие не изменились.

Идем дальше, к следующему псевдоэлементу - ::first-letter
Псевдоэлемент first-letter позволяет задать стили для первой буквы, первого символа в абзаце...

А на этом всё! продолжим мы... ну, чуточку позже!
*/