/* Урок №5 - препроцессоры Sass & SCSS. */

/*
В предыдущих уроках мы познакомились с осни HTML и CSS, поэтому нам следует переходить на
НOВЫЙ УРОВЕНЬ! сегодня мы поговорим о мощном препроцессоре Sass, и начинаем мы уже сейчас!

Sass - это в первую очередь препроцессор для CSS, он значительно расширяет возможности
стандартных таблиц стилей, делает работу более быстрой и приятной. В этом уроке мы
познакомимся с такими крутыми возможностями как переменные, миксины, шаблоны, вло-
-женность и другими крутышками! Однако работать мы будем вовсе не здесь - работать
мы будем с файлом main.scss, и тут у вас может возникнуть один резонный вопрос -
почему ".scss", а не ".sass"? об этом позже, а пока что мы поговорим о проблеме с
препроцессором. Поскольку сами по себе файлы scss либо sass браузеры непонятны (а
они действительно ему непонятны), то он просто не сможет их прочитать. Нам предстоит
ПЕРЕКОДИРОВАТЬ файлы scss в файлы понятные браузеру, то есть в CSS! для этого чаще
всего используется программа Prepros, которая компилирует файлы scss в CSS. Настроив
её, наш scss код будет перекомпилироваться в отдельный css файл, который я уже создал,
и называется он style.css! То есть - мы пишем код на scss, а он у нас по быстренькому
преобразуется в CSS. Всё гениальное просто :) Начнем с синтаксиса SASS.

Синтаксис оригинального SASS отличается от привычной записи CSS: тут нет фигурных скобок,
нет точки с запятой после параметра, каждый параметр начинается с новой строки и ОЧЕНЬ
сильно важны отступы. Вот вам табличка с тем, как выглядят три записи в SASS и CSS:

------------------------------------------------------------------------------------------

SASS:

nav
	ul
		margin: 0
		padding: 0
		list-syle: none

	li
		display:  inline-block

	a
	 	display:  block
	 	padding: 6px 12px
	 	text-decoration:  none

------------------------------------------------------------------------------------

CSS:

nav ul {
	list-style: none;
	padding:  0;
	margin:  0;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	text-decoration:  none;
	padding: 6px 12px;
}

------------------------------------------------------------------------------------

Вот! как вы видите, здесь разница есть и она ОЧЕНЬ большая. Нет абсолютно никаких
скобок, нет точки с запятой, и именно из-за этого был придуман синтаксис SCSS, в
котором во многом возвращается ПРЕЖНИЙ вид CSS:

SCCS:

nav {
	ul {
		list-style: none;
		padding:  0;
		margin:  0;
	}


	li {
	display: inline-block;
	}

	a {
		display: block;
		text-decoration:  none;
		padding: 6px 12px;
	}
}

------------------------------------------------------------------------------------

В SCSS возвращается привычный для нас синтаксис CSS, поэтому работать с ним в разы
легче, чем с SASS. А теперь напишем что нибудь в main.scss! первым делом я стилизую
див с классом block внутри main.scss (так мой код будет выглядеть в формате CSS):
*/

.block {
	font-size: 22px;
	line-height: 20px;
	padding: 20px;
}

/*
Пока что никакой разницы между SCSS и CSS не наблюдается, поэтому пришла пора показать
первую суперспособность SCSS.

СУПЕРСИЛА №1 - Вложенность

С приходом SCSS, к нам также пришло понятие вложенности. Что это такое? вложенность -
это суперспособность SCSS внезавимисомти от синтаксиса, работаем мы с SCSS или с Sass,
ПИСАТЬ ПРАВИЛА ВНУТРИ ДРУГИХ ПРАВИЛ! но о чем идет речь? допустим, что у нас в элементе
с классом block есть какой-то текст, и его отрывок помещен в span. Я хочу выделить это
слово, сделав его.. ну зеленым, например. Так вот, используя такую суперспособность SCSS
как вкладываемость правил или просто вложенность, я могу после последнего параметра (а
это у нас line-height: 20px) написать слово "span" и открыть фигурные скобки прямо внутри
уже существуюжего набора правил! внутри я ему могу написать свойство color со значением
green, как мы и хотели (так будет выглядеть код в синтаксисе SCSS):

.block {
	font-size: 22px;
	line-height: 20px;
	padding: 20px;
	span {
		color: green;
	}
}

Готово! таким образом, страница моментально преобразится, а span станет зеленого цвета!
Но как это будет работать, если браузер просто-напросто НЕ ПОНИМАЕТ синтаксиса SCSS?
всё просто - программа Prepros (которой у вас, возможно, нет) компилирует мой SCSS
код в CSS, создавая определенные правила. Вот что находится в style.css на данный момент:
*/

.block {
  font-size: 22px;
  line-height: 20px;
  padding: 20px;
}
.block span {
  color: green;
}

/*
Как мы видим, в style.css появилась точная копия моего SCSS кода, но скомпилированная на
"свой" лад...

А на этом всё! остальное - позже!)
*/