.block {
  line-height: 60px;
  padding: 30px;
}
.block .block__text {
  font-size: 80px;
}
.block .block__text span {
  color: green;
}

.link {
  font-size: 80px;
  color: blue;
  text-decoration: underline;
}
.link:hover {
  color: green;
}
.block .link {
  font-size: 80px;
}
.block .link:hover {
  color: red;
}