/* Урок №4 - CSS псевдоклассы: hover и другие. */

/*
Сегодня мы поговорим о псевдоклассах! псевдоклассы это что-то вроде модификаторов для CSS селекторов (или аддоны,
дополнения в видеоиграх). Чаще всего они используются для примемения стилей в зависимости от состояния элемента,
или его положения в коде. Обо всех этих интересностях и вкусностях мы поговорим чуть позже, а пока что давайте
подготовим внешний вид страницы для работы с псевдоклассами, а то всё выглядит уж слишком "сыро"! - 
*/
body {
	padding: 30px;
}

.block {
	margin: 0 0 30px 0;
}

.block p {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.link {
	color: red;
}

.textInput {
	width: 300px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #666;
	padding: 0 15px;
	margin: 0 0 10px 0;
}

.textButton {
	display: block;
	width: 300px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	background-color: #666;
	margin: 0 0 30px 0;
}

.list li {
	font-size: 18px;
	margin: 0 0 15px 0;
}

/*
Ну вот! а теперь мы поговорим о синтаксисе написания псевдоклассов.
Псевдоклассы записываются очень просто! во первых, нам нужно обратиться к селектору. К селектору тега, класса или
типа - не важно, главное чтобы был хоть какой-то селектор. После того как мы выбрали себе селектор, сразу (т.е без
пробелов) ставим двоеточие и пишем название псевдокласса, например hover. И только после того, как мы потавили нужный
нам псевдокласс, мы ставим фигурные скобки (это важно!). Возьмем в качестве примера тег с классом link:
*/

.link:hover {

}

/*
Отлично! но раз уж мы начали с записи псевдокласса hover, в первую очередь поговорим о псевдоклассах состояния.
Например, псевдокласс hover начинает действовать в тот момент, когда мы наводим мышкой на элемент, которому прописан
данный псевдокласс. Что значит "начинает действовать в тот момент, когда мы наводим мышкой"? а значит это то, что те
стили, которые мы прописываем внутри фигурных скобок, начинают работу тогда, когда мышка наводится на элемент.
Я думаю, что пора бы уже заиспользовать наш первый псевдокласс! Например, я хочу чтобы моя ссылка при наведении на
неё подчёркивалась - для этотго используем text-decoration с нужным значением:
*/

.link:hover {
	text-decoration: underline;
}

/*
Ну во! другое дело. Но изменения плохо видны, поэтому лучше изменить цвет при наведении. Пожалуй, будем менять цвет при
наведении, так будет намного наглядней:
*/

.link:hover {
	color: blue;
}

/*
А вот сейчас вообще круто! и цвет меняется, и подчеркивание появляется.

Ну вот и всо на сегодня! если взять вчерашнее обновление и сегодняшнее, то получается что я возместил за вчера!
Следующее обновление выйдет через... как всегда - позже!) 
*/