/* Урок №4 - CSS псевдоклассы: hover и другие. */

/*
Сегодня мы поговорим о псевдоклассах! псевдоклассы это что-то вроде модификаторов для CSS селекторов (или аддоны,
дополнения в видеоиграх). Чаще всего они используются для примемения стилей в зависимости от состояния элемента,
или его положения в коде. Обо всех этих интересностях и вкусностях мы поговорим чуть позже, а пока что давайте
подготовим внешний вид страницы для работы с псевдоклассами, а то всё выглядит уж слишком "сыро"! - 
*/
body {
	padding: 30px;
}

.block {
	margin: 0 0 30px 0;
}

.block p {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.link {
	color: red;
}

.textInput {
	width: 300px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #666;
	padding: 0 15px;
	margin: 0 0 10px 0;
}

.textButton {
	display: block;
	width: 300px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	background-color: #666;
	margin: 0 0 30px 0;
}

.list li {
	font-size: 18px;
	margin: 0 0 15px 0;
}

/*
Ну вот! а теперь мы поговорим о синтаксисе написания псевдоклассов...


Ну как БУДЕМ... сегодня не получается. Завтра выпущу обнвление как на сайт Konstruct, так и здесь!)
*/