/* Урок №3 - CSS стили шрифта и текста. */	
		
/* 
В CSS существует много различных свойств для задания стилей шрифта и текста.
В этом уроке мы рассмотрим самые популярные и часто используемые свойства. Ну, погнали!
*/

/* font-family: ...; - семейство шрифта */

/*
Свойство font-family отвечает за шрифт текста. Если мы укажем определенный шрифт, например "Arial", то
он применится к тексту.	По умолчанию, у текста в любом браузере установлен шрифт "Times New Roman",
и если мы создадим какой нибудь параграф - у него будет именно этот шрифт.
Значение у font-family пишется как с кавычками, так и без них.
С кавычками - если у нашего параграфа название шрифта состоит из 2+ слов.
И на последок - значений у font-family может быть много, 3 или 4, а может и 5.
Это сделано для того, чтобы если у пользователя не было такого-то шрифта - использовался второй,
нет втророго?

Ну а я тем временем создал параграф с классом arial, к нему то и применим font-family.
*/

.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

/* font-size: ...; - размер шрифта */

/*
Ну, с этим свойством мы уже знакомы. Он определяет размер шрифта.
Значение задают в пикслеях, но можно задавать и в процентах. Вообще, и пиксели и проценты - не
единственные единицы измерения в CSS, есть и другие. Но о них можно подробней узнать в гугле. 
*/

.fontsize30 {
	font-size: 30px;
}

/* font-style: ...; - начертание шрифта */

/*
Свойство font-style определяет, каким будет начертание шрифта - обычным, курсивным или жирным.
Принимает 4 значения:

normal - нормальный текст (знач. по умол.)
italic - делает текст курсивным
obliue - делает текст наклонным
inherit - наследует стиль начертания шрифта (например, если у род. элемента стиль начертания italic, то будет italic)

P.S - oblique почти ничем не отличается от italic, но это два абсолютно разных значения 
*/

.italic {
	font-style: italic;
}

/* font-weight: ...; - насыщенность шрифта */

/*
Свойство font-weight устанавливает насыщенность шрифта, т.е определяет, будет шрифт тонким или жирным.
Значения у него самые разные:

normal нормальное начертание (знач. по умол.)
От 100 до 700 (100 - самое "тонкое" начертание, 700 - самое жирное)
bold - жирное начертание (то же, что и 700)
bolder - еще жирнее (относительно родителя)
lighter - еще тоньше (относительно родителя)
inherit - наследует насыщенность шрифта
*/

.font700 {
	font-weight: 700;
}

/* Остальное допишу завтра, болею.. */