$fz: 80px;

.block {
	// font-size: 50px;
	line-height: 60px;
	padding: 30px;
	// >p {
	// 	color: red;
	// }
	.block__text {
		font-size: $fz;
		span {
			color: green;
		}
	}
	// &.parent--block {
	// 	font-size: 55px;
	// }
}


.link {
	font-size: $fz;
	color: blue;
	text-decoration: underline;
	&:hover {
		color: green;
	}

	.block & {
		font-size: $fz;
		&:hover {
			color: red;
		}
	}
}