@import "nullstyle.scss";

$fz: 100px;
$color_1: blue;
$color_2: red;
$color_3: green;

.block {
	// font-size: 50px;
	line-height: 60px;
	padding: 30px;
	// >p {
	// 	color: red;
	// }
	.block__text {
		font-size: $fz;
		span {
			color: $color_3;
		}
	}
	// &.parent--block {
	// 	font-size: 55px;
	// }
}


.link {
	font-size: $fz;
	color: $color_1;
	text-decoration: underline;
	&:hover {
		color: $color_3;
	}

	.block & {
		font-size: $fz;
		&:hover {
			color: $color_2;
		}
	}
}

.link-2 {
	font-size: 80px;
}